{% extends 'base.html.twig' %}
{% block title %}Serwis samochodowy{% endblock %}
{% block body %}
<div class="row">
	<img class="col-12" src="https://template.serwer22.silnet.pl/themes/profiauto/images/page-top-2019.jpg" alt="Serwis samochodowy">
    <div class="h1 col-12">
	AUTOSERWIS
	</div>
    Nasza firma w sposób kompleksowy dba o zadowolenie Klientów już od 2017 roku. Serwis specjalizuje się w naprawach samochodów marki VW, Skoda, Seat, Opel, Ford, Daewoo – FSO oraz samochodów dostawczych do 3,5 t.
    Nasz nowo otworzony serwis przy ulicy Poznańskiej 754 charakteryzuje się dużą przepustowością oraz możliwością wykonania wszystkich usług w jednym miejscu.
    Posiadamy 15 stanowiskowy serwis do obsługi samochodów osobowych i dostawczych, Stacje Kontroli Pojazdów, Spawalnie oraz Myjnie.
    Dzięki wszechstronności i zaangażowaniu oraz możliwościami przerobowymi jesteśmy dobrym partnerem dla dużych flot oraz klientów indywidualnych.
    Zapraszamy do zapoznania się z nasza ofertą handlowo usługową oraz do odwiedzenia naszego serwisu.
</div>
{% endblock %}