{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Create new Service - pulpit Admina</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">Powrót do listy usług</a>
{% endblock %}
