{% extends 'base.html.twig' %}
{% block title %}Oferta{% endblock %}
{% block body %}

<div class="">
    <img class="col-12" src="https://images.prismic.io/cinch/a045c13a-c307-469c-94e5-99a73bf84ac0_CroppedGettyImages-1155250359.jpg?auto=compress%2Cformat" alt="Oferta">
    <div class="h1">
		Oferta
	</div>
	<div>
	W naszej ofercie znajdziesz szeroki wachlarz wykonywanych usług. Jest to możliwe dzięki zastosowaniu bogatej gamy przyrządów diagnostycznych.
	Dzięki wieloletniemu doświadczeniu naszej załogi i nowoczesnemu wyposażeniu, masz pewność prawidłowej obsługi Twojego pojazdu. Obsługujemy samochody osobowe i dostawcze.
	Nasz formularz zgłoszeniowy posiada podstawowe z naszych usług.
	Przez formularz możesz się umówić na: 
	<ul>
		<li>PRZEGLĄD SERWISOWY</li>
		<li>PRZEGLĄD OKRESOWY WEDŁUG CZYNNOŚCI KARTY PRZEGLĄDOWEJ PO KONKRETNYM PRZEBIEGU LUB COROCZNY</li>
		<li>WYMIANA ROZRZĄDU</li>
		<li>WYMIANA SPRZĘGŁA</li>
		<li>NAPRAWA ELEMENTÓW ZAWIESZENIA</li>
		<li>NAPRAWA PODZESPOŁÓW ELEKTRYCZNYCH</li>
		<li>WYMIANA OPON</li>
		<li>WYMIANA KLOCKÓW HAMULCOWYCH LUB TARCZ</li> 
		<li>WYMIANA OLEJU</li>
		<li>NAPRAWA BLACHARSKO - LAKIERNICZA</li>
		<li>INNE USTERKI</li>
	</ul>
	Podczas wykonywanej naprawy nasz mechanik kontaktuje się z Państwem aby zapytać i przedstawić możliwość rozszerzenia naszej oferty celem podwyższenia Państwa bezpieczeństwa w Państwa pojazdach. 
	Ceny naszych napraw są ustalane bezpośrednio z klientem, w zależności od kosztu części oraz modelu samochodu.
	</div>
</div>
{% endblock %}


                    