{% extends 'base.html.twig' %}

{% block title %}Wizyta zarezewowana!{% endblock %}

{% block body %}
<h1>Dziękujemy za zarezerwowanie wizyty!</h1>

<p>Dziękujemy za wybranie naszego serwisu. Jesteśmy jednym z wiodących serwisów zamochodowych w polsce. Zajmujemy się wszelkimi naprawami dla wszelkich rodzajów samochodów.
Bardzo lubimy zajmować się oldtimerami które są naszą pasją i pomagają nam w rozwijaniu naszej wiedzy oraz umiejętności.</p>
	
<h1>Z wyrazami szacunku</h1> 
<h4>prezes firmy</h4>
<a class="btn btn-success w-100 btn-lg" href="{{ path('home_page') }}">OK</a>

{% endblock %}
