{% extends 'base.html.twig' %}

{% block title %}Edycja danych rezerwacji wizyty{% endblock %}

{% block body %}
    <h1>Edycja danych rezerwacji wizyty - Panel Admina</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('customer_index') }}">Powrót do listy zarezerwowanych wizyt</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
