{% extends 'base.html.twig' %}
{% block title %}O nas{% endblock %}
{% block body %}

<div class="row">
	<img  src="https://www.panmar.pl/moto/tl_files/foto%20galeria_01/IMG_8494.jpg" alt="O nas">
	<div class="h2">
		O nas
	</div>
        <p>Firma AUTOSERWIS prowadzi działalność handlowo-usługową od 2017 roku.</p>
        <p>Dysponujemy profesjonalną stacją serwisową, Stacją Kontroli Pojazdów, myjnią, magazynami opon na ponad 6 tyś. sztuk, magazynami i punktem sprzedaży oryginalnych części zamiennych oraz akcesoriów. Oferowane przez nas towary posiadają certyfikaty jakości i bezpieczeństwa. Dla naszych Klientów jest to gwarancja solidności.</p>
        <p>Nasz kompleks handlowo – serwisowy znajdujący się przy ul. Poznańskej 754 i czynny jest sześć dni w tygodniu.</p>
        <p>Naszą główną zaletą jest kompleksowość usług, a w swojej działalności nastawieni jesteśmy na szeroko rozumiany profesjonalizm i wysoki poziom obsługi poprzez dopasowanie naszej oferty do indywidualnych potrzeb Klientów.</p>
        <p>W razie pytań lub wątpliwości członkowie naszego zarządu oraz kierownictwo są do Państwa dyspozycji w zakresie serwisu, sprzedaży części zamiennych i akcesoriów.</p>
    
	<div class="row">
        <div class="col-sm-4">
            <img class="col-4" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png" alt="">
        </div>
		<div class="col-sm-4">
            <img class="col-4" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png" alt="">
        </div>
		<div class="col-sm-4">
            <img class="col-4" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png" alt="">
        </div>
	</div>
	<div class="row">
        <div class=col-sm-4>
            <h4>Adam Ratajczak</h4>
            <p>Prezes Zarządu</p>
        </div>
        
        <div class=col-sm-4>
            <h4>Magda Potrykus</h4>
            <p>Członek Zarządu</p>
        </div>
        <div class=col-sm-4>
            <h4>Delfina Siepak</h4>
            <p>Członek Zarządu</p>
        </div>
	</div>
</div>
{% endblock %}