{% extends 'base.html.twig' %}
{% block title %}Kontakt{% endblock %}
{% block body %}
<div class="row">
	<img class="col-12" src="https://warsztat.pl/img/artykuly/54708_budujemy-warsztat-samochodowy-cz-2-wymogi-_1.jpg" alt="Kontakt">
	<div class="h2">
		Kontakt
	</div>
	<div class="col-sm-12">
		<p>Serwis AUTOSERWIS wraz z Biurem Obsługi Klienta</p>
		<p>ul. Poznańska 754, 60-012 Poznań</p>
		<p>tel.: +48 123 456 789</p>
		<p>e-mail: autoserwis@autoserwis.pl</p>
	</div>
</div>
{% endblock %}